<h1>Welcome to Amy and Vicki's online food cart!</h1>

<p> At the moment, we only have a few products for you to enjoy, so hop on over to our
  <%= link_to  "Products Page", welcome_products_path %> to take a look at what we have to offer!<p>
