<h1>Order page</h1>
<p> Currently, we take orders only via phone and deliver in select counties (Hudson, Essex, and Union) in New Jersey.
  <br> We highlight service to Bayonne, Jersey City, Union, Kearny, and Newark.
</p>

<p>To place your order, please call 2012386888 </p>


<%= link_to "Home", welcome_landing_path %>
