<h1>Menu</h1>

<h2>Barley soup</h2>
<p>Our barley soup contains spinach, chicken, barley, carrots, peppers, and dough.
  <br> It's great as a home remedy, is filling, and will keep you coming back for this delicious and healthy meal.    </p>
<br>
<h2>Muffins</h2>
<p>Our magical muffins come in a variety
  of flavours and types. <br> They've earned the name because no matter how much we could educate you on how we make them or what they're made from, your tastebuds won't believe that soft buttery bite is made from anything understandble to man.  </p>
<br>
<h2>Chai</h2>
<p>An old Indian classic, we make a simple Chai Tea with all the dressings at your request. <br>
Be sure to have some with our muffins! They pair like nothing you've ever experienced before!  </p>
<br>



<%= link_to "Order", welcome_order_path %>
